.formContainer {
  max-width: 600px;
  margin: 2rem auto;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000070;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inlineGroup {
  display: flex;
  gap: 0.5rem;
}

.inlineGroup input {
  flex: 1;
}